@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200i,400,700|Open+Sans:400,700');

/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;*/

.caja {
	width: 80%;
	height: 350px;
	background-color: #34495e;
	color: white;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px;
	text-align: center;	
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #455a64;
}


.caja:hover{
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.icon{
	font-size: 4em;
	color: #18ffff;
}

.caja p{
	font-size: 1.3em;
	position: relative;
	top: 20px;
}

.anim1{
	animation-name: girar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*animation-delay: 3s;*/
}

.anim2{
	position: relative;
	animation-name: fly;
	animation-duration: 7s;
	animation-iteration-count: 4;
	animation-direction: alternate;
}














/*ANIMACIONES*/
@keyframes girar {
	from{
		transform: rotateY(0);
	/*	color: #aeea00;*/
	}

	to {
		transform: rotateY(360deg);
		/*color: #18ffff;*/
	}
}

@keyframes fly{
	0%{
		top: -200px;
		left: 0;
		opacity: 0;
		transform: rotateZ(90deg);
	}

	20%{
		top: 0px;
		left: 0;
		opacity: 1;
		transform: rotateZ(0);
	}

	30%{
		top: 0px;
		left: -200px;
		opacity: 1;
		transform: rotateZ(0);
	}

	40%{
		top: 0px;
		left: 0px;
		opacity: 1;
		transform: rotateZ(0);
	}

	45%{
		top: 0px;
		left: -100px;
		opacity: 1;
		transform: rotateZ(0);
	}
	
	50%{
		top: 0px;
		left: 0px;
		opacity: 1;
		transform: rotateX(0);
	}

	60%{
		top: 0px;
		left: -200px;
		opacity: 1;
		transform: rotateX(0);
	}
	

	100%{
		top: 0px;
		left: 300px;
		opacity: 0;
		transform: rotateX(2160deg);
	}


}