body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

h1, h2{
	text-align: center;
	color: #444;
}

.boton-viejo{
	width: 200px;
	background-color: #3498db;
	border: 5px solid #2c3e50;
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	display: block;
	text-decoration:none;
	margin-bottom: 5px;
}

.boton-nuevo {
	width: 100%;	
	box-sizing: border-box;
	background-color: #34495e;
	text-align: center;
	color: white;
	border: 2px solid #2980b9;
	font-size: 1.2em;
	display: block;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #37474f; 
	
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
}

.boton-nuevo:hover{
	background-color: transparent;
	color: #2980b9;
	box-shadow: 3px 5px 4px #37474f; 
}

.rojo {
	background-color: transparent;
	color: #c0392b;
	border-color: #e74c3c;
}

.rojo:hover{
	background-color: #c0392b;
	border-color: #e74c3c;
	color: white;
}

.sprite{
	width: 84px;
	height: 84px;
	display: block;
	text-decoration: none;
	background-image: url(../img/sspice-social-gadget-sprite.png);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
}

.sprite.flickr{background-position: -84px -84px;}
.sprite.flickr:hover{background-position: -84px -168px;}


