body {
	margin: 0;
	padding: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
	font-family: arial;
}

.caja {
	/*propiedades de box*/
	width: 230px;
	height: 230px;
	background-color: #34495e;
	display: inline-block;
	padding: 20px;
	border: 10px solid #3498db;
	margin-bottom: 5px;

	/*propiedades de texto*/
	color: #fff;
	font-size: 80px;
	text-align: center;
	line-height: 170px;

	/*CSS3*/
	box-sizing: border-box;
	border-radius: 50%;
}

.borde {
	width: 230px;
	height: 230px;
	display: inline-block;
	margin-bottom: 5px;
}

.box {
	background-color: #2980b9;
	color: white;
	font-size: 80px;
	text-align: center;
	line-height: 170px;
	padding: 20px;
	border: 10px dotted #2c3e50;
	border-radius: 50%;
}

.cajita {
	width: 240px;
	height: 240px;
	background-color: #8e44ad;
	color: white;
	margin-bottom: 5px;
	font-size: 80px;
	text-align: center;
	line-height: 180px;
	display: inline-block;
	box-sizing: border-box;
	border: 10px solid #7f8c8d;
	padding: 20px;
	float: left;
}

.triangulos{
	clear: both;
}

.tri1, .tri2, .tri3 {
	width: 0;
	height: 0;
	border-right: 160px solid transparent;
	border-left: 160px solid transparent;
	border-bottom: 250px solid #16a085;
	float:left;
	color: transparent;
}







