.lienzo {
	width: 600px;
	height: 650px;
	/*border: 1px dotted black;*/
	margin: 0 auto;
	position: relative;
}

.base {
	width: 300px;
	height: 325px;
	background-color: #3498db;
	position: absolute;
	bottom: 0;
	left: 25%;
}

.puerta {
	width: 50px;
	height: 100px;
	background-color: brown;
	position: absolute;
	bottom: 0;
	left: 42%;
}

.pomo {
	width: 12px;
	height: 12px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 60%;
}

.ventana {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 5px solid brown;
	background-color: white;
	position: absolute;
}

#ven1{
	top: 15%;
	left: 10%;
}

#ven2{
	top: 15%;
	right: 10%;
}

.techo {
	width: 0;
	height: 0;
	border-left: 155px solid transparent;
	border-right: 155px solid transparent;
	border-bottom: 250px solid brown;
	position: absolute;
	top: 75px;
	left: 145px;
}

.chimenea {
	width: 50px;
	height: 100px;
	position: absolute;
	background-color: #34495e;
	top: 19%;
	left: 328px;
	z-index: -1;
}