@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200i,400,700|Open+Sans:400,700');

/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.clase1{
	width: 75%;
	background-color: #9b59b6;
	color: whitesmoke;
	text-align: center;
	padding: 20px;
	border-top: 15px solid #3498db;
	border-bottom: 15px dotted #34495e;
}

.clase1 header h1 {
	font-size: 2em;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	text-transform: uppercase;
}

.clase1 header img{
	width: 200px;
	height: auto;
}

.clase1 header p{
	text-align: justify;
}

#iden1{
	background-color: #e74c3c;
}

.clase2 {
	width: 50%;
	height: 350px;
	background-color: #e67e22;
	margin-top: 10px;
	border: 10px dashed #7f8c8d;
	padding: 20px;
}

.clase2 a {
	text-transform: uppercase;
	font-size: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.clase2 p {
	text-align: center;
	font-size: 17px;
	line-height: 1.8em;
}

.verde {
	background-color: green;
}