@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200i,400,700|Open+Sans:400,700');

/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;	
	padding: 0;
	background-color: whitesmoke;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.header-top{
	text-align: center;
	background-color: #34495e;
	color: white;
	padding: 20px 40px;
}

.header-top img{
	width: 200px;
	height: auto;
}

.header-top h1{
	font-size: 2.2em;
	text-transform: uppercase;
}

#textos{
	background-color: #3498db;
	margin-top: -20px;
}

.texto{
	width: 280px;
	text-align: justify;
	font-size: 12px;
	padding: 0 18px;
	display: inline-block;
}

footer {
	height: 50px;
	text-align: center;
	background-image: url(../img/bg-negro.png);
	/*background-repeat: repeat-y;*/
	color: whitesmoke;
	line-height: 3em;
}