.mt70{margin-top: 70px;}

.col4{
	width: 33.33%;
	float: left;
	position: relative;
}

.col4 a{
	transition: all .2s;
	display: block;
}

.col4 a:hover{
	transform: scale(1.1, 1.1);
	transform: rotateZ(-5deg);
}
