@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200i,400,700|Open+Sans:400,700');

/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}


h1 {
	font-size: 3em;
}

h2{
	font-size: 2.4em;
}

h3{
	font-size: 1.8em;
}



.parallax {
	width: 100%;
	height: 100vh;
	background-image: url(../img/parallax1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.parallax h1 {
	color: #34495e;
	text-shadow: 0 0 4px #bdc3c7;
	text-transform: uppercase;
	position: relative;
	top: 42vh;
	background-color: rgba(236, 240, 241,.8);
	width: 30%;
	margin: 0 auto;
	padding: 5px;
	border-radius: 10px;
}

.centrar-textos{text-align: center;}

.img-adaptable{
	max-width: 100%;
	display: block;
}

.img-redonda{border-radius: 50%;}

.lead{
	font-size: 15px;
	color: #34495e;
}

.centrar-imagen{
	display: block;
	margin: 0 auto;
}

.banner{
	height: 200px;
	background-image: url(../img/nyc_strip-1.jpg);
}