#error{
	color: red;
	font-weight: bold;
}	

/*XS*/
@media (max-width: 767px){
	h1, h2, label{
		color: purple;
	}
	
	h1 {font-size: 1.8em;}
	h2 {font-size: 1.3em;}

	.btn-info {background-color: purple;}
}

@media (min-width: 768px) and (max-width: 991px){
	h1, h2, label{
		color: orange;
	}
	
	h1 {font-size: 2.5em;}
	h2 {font-size: 1.9em;}

	.btn-info {background-color: orange;}
}

@media (min-width: 992px) and (max-width: 1199px){
	h1, h2, label{
		color: red;
	}
	
	h1 {font-size: 3.2em;}
	h2 {font-size: 2.5em;}

	.btn-info {background-color: red;}
}

@media (min-width: 1200px){
	h1, h2, label{
		color: green;
	}
	
	h1 {font-size: 4em;}
	h2 {font-size: 3.2em;}

	.btn-info {background-color: green;}
}