@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200i,400,700|Open+Sans:400,700');

/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #ecf0f1;
}

nav {
	position: relative;
	background-color: #2980b9;
	text-align: center;
	width: 100%;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav > ul > li {
	float: left;
	font-size: 17px;
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 10px 20px;
	transition: all 300ms linear;
}

nav ul li a:hover{
	background-color: #2c3e50;
}

/*SUBMENU*/
nav ul li div{
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	background-color: #3498db;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 700ms ease;
	top: -300px;
	z-index: -1;
/*	transform: rotateY(0);*/
}

nav ul li:hover div {
	display: table;
	visibility: visible;
	opacity: 1;
	top: 42px;
	/*transform: rotateY(360deg);*/
}

nav ul li div ul {
	box-sizing: border-box;
	width: 1%;
	display: table-cell;
	border-right: 2px solid #00e5ff;
}

nav ul li div ul:last-child{
	border: none;
}

nav ul li div ul .titulo {
	background-color: #263238;
	padding: 10px;
}

nav ul li div ul .titulo a{
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18px;
}

nav ul li div ul .titulo a:hover{
	background-color: transparent;
	cursor: default;
}

.icon {
	font-size: 1.3em;
	vertical-align: middle;
	transition: all 300ms linear;
}

a:hover .icon{
	color: #2980b9;
}