.caja {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 10px solid #2980b9;
	background-color: #2c3e50;
	color: white;
	margin-bottom: 20px;
	line-height: 160px;
	font-size: 40px;
	font-family: arial;
	text-align: center;
}

#caja1{
	position: static;
}

#caja2 {
	position: relative;
	top: 30px;
	left: 500px;
}

#caja3{
	position: absolute;
	top: 500px;
	left: 500px;
}

#caja4 {
	position: fixed;
	right: 0;
	bottom: 0;
}

#caja5{
	position: relative;
}

.caja-peq{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #e74c3c;
	padding: 20px;
	line-height: 55px;

	top: 20px;
	left: 100%;
}